.heading {
    font-size: 23px;
    width:100%; 
    margin:0px;
    box-shadow: 5px 5px 5px lavender;
}
.note {
    font-size:20px;
    color:purple;
}
.copy_right_footer {
    position:fixed;
    color:pink;
    bottom:0;
    width:100%;
    text-align: center;
    background-color:orangered ;
    line-height:3;
}
canvas {
    border: 5px dotted palevioletred;
    border-radius:20px;
    box-shadow: 5px 5px 5px yellowgreen;
}